
@import './theming';

// import fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import './variables';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: $primary-font,
  $headline: mat-typography-level(32px, 48px, 700),
  $title: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $button: mat-typography-level(14px, 24px, 500),
  //Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(14px, 1.42, 500)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
//@include angular-material-typography();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette( $primary ) ;
$app-accent:  mat-palette( $accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette( $warn );

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(
  $app-primary, $app-accent, $app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme( $app-theme );