

$primary-color:#666;
$primary-color-contrast:#fff;
$secondary-color:#555;
$secondary-color-contrast:#fff;
$warning-color:#A73;
$secondary-color-contrast:#fff;
$border-color: #888;
$secondary-color-contrast:#fff;

$padding-v-sm:8px 0px;
$padding-h-sm:0px 8px;
$padding-v-md:16px 0px;
$padding-h-md:0px 16px;
$padding-v-lg:24px 0px;
$padding-h-lg:0px 24px;
$padding-v-xl:32px 0px;
$padding-h-xl:0px 32px;





