
:host{
  display:flex;
  flex-direction: column;
  min-height:100vh;
  height:auto;
  
}

header{
  display:flex;
  padding: 8px;
  font-size: 24px;
  border-bottom: 1px solid grey;
}

footer{
  border-top: 1px solid grey;
  padding: 8px;
}