<header class="page-title">
  feature1a works!
</header>

<section class="page-tab-nav">
  <nav mat-tab-nav-bar>
    <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      <mat-icon>{{link.mdIcon}}</mat-icon>
      <span class="tab-label">{{link.label}}</span>
    </a>
  </nav>
</section>

<section>
  <div class="title">
    {{title}}
  </div>
  <div class="teller">
    {{count}}
  </div>
</section>

<router-outlet></router-outlet>

