/* You can add global styles to this file, and also import other style files */


@import './app/layout/layout';
@import './app/styles/variables';
@import './app/styles/theme';


body{
  display:flex;
  flex-direction: column;
  margin:0;
  padding:0;
  min-width:100vw;
  min-height:100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}




@import './app/help/start/start.component';