<p class="page-title">
  User page
</p>


<form [formGroup]="formMain">
  <app-name
    [title]="formGroups.name.title"
    [oFormElems]="formGroups.name.fields"
    [formGroupName]="'name'"></app-name>
  <app-credentials
    [title]="formGroups.credentials.title"
    [oFormElems]="formGroups.credentials.fields"
    [formGroupName]="'credentials'">
  </app-credentials>

  <app-address
    [title]="formGroups.address.title"
    [oFormElems]="formGroups.address.fields"
    [formGroupName]="'address'">
  </app-address>

</form>

<app-origin></app-origin>

<section>
  status:
  <pre>
    {{formMain.status | json}}
  </pre>
  value
  <pre>
    {{formMain.value | json}}
  </pre>
</section>
